---
Checks: >
  *,
  -altera-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -fuchsia-*,
  fuchsia-multiple-inheritance,
  -hicpp-uppercase-literal-suffix,
  -llvmlibc-*,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
CheckOptions:
  - { key: bugprone-misplaced-widening-cast.CheckImplicitCasts,           value: true }
  - { key: bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression,      value: true }
  - { key: bugprone-suspicious-string-compare.WarnOnLogicalNotComparison, value: true }
  - { key: readability-uniqueptr-delete-release.PreferResetCall,          value: true }
  - { key: cppcoreguidelines-narrowing-conversions.PedanticMode,          value: true }
# Identifier styles
  - { key: readability-identifier-naming.ClassCase,             value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase,          value: camelBack }
  - { key: readability-identifier-naming.VariableCase,          value: camelBack }
  - { key: readability-identifier-naming.ParameterCase,         value: camelBack }
  - { key: readability-identifier-naming.MemberCase,            value: camelBack }
  - { key: readability-identifier-naming.PrivateMemberCase,     value: camelBack }
  - { key: readability-identifier-naming.ProtectedMemberPrefix, value: m_ }
  - { key: readability-identifier-naming.PrivateMemberPrefix,   value: m_ }
HeaderFilterRegex: '^.*/(app|library)/.*(h|hpp)$'
WarningsAsErrors: '*'
UseColor: true
...
