# https://clangd.llvm.org/

CompileFlags:
  Add:
    - "-ferror-limit=0"

  Remove:
    - "-mabi"

  # if you are using VSCode and CMake Tools(provided by Microsoft) add
    # "cmake.copyCompileCommands": "${workspaceFolder}/.vscode/compile_commands.json" to VSCode settings
    # because CompilationDatabase field in .clangd doesn't support multiple folders to search
  CompilationDatabase: .vscode

InlayHints:
  Enabled: No
  BlockEnd: Yes
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None

---

# Ignore packages that installed by vcpkg
If:
  PathMatch: out/.*
Diagnostics:
  Suppress: '*'
  UnusedIncludes: None
  MissingIncludes: None
