# https://clangd.llvm.org/

CompileFlags:
  Add:
    - "-ferror-limit=0"

  # Remove extra warnings specified in compile commands (specified in CMakePresets.json)
  Remove: -mabi

  # if you are using VSCode and CMake Tools(provided by Microsoft) add
    # "cmake.copyCompileCommands": "${workspaceFolder}/compile_commands.json" to VSCode settings
    # because CompilationDatabase field in .clangd doesn't support multiple folders to search

  # "compile_commands.json" path (specified in CMakePresets.json)
  # CompilationDatabase: out/build/Windows-llvm-Debug

InlayHints:
  Enabled: No
  BlockEnd: Yes
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

# https://clangd.llvm.org/design/include-cleaner
# By default, Include Cleaner will not diagnose headers from the Standard Library.
# Standard Library headers support is not complete yet
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None

---

# ignore packages that installed by vcpkg
If:
  PathMatch: out/.*
Diagnostics:
  Suppress: '*'
  UnusedIncludes: None
